.App {
  font-family: "Roboto", sans-serif;
}

.dashboard {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.panel {
  align-items: center;
}

.controls-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 24px 0;
}

.stackable-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.timer {
  font-size: 16px;
  width: auto;
}

.legend-bar {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 16px 0 0;
}

.legend-item {
  padding-right: 16px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.controls {
  width: auto;
  display: flex;
  align-items: center;
  padding-right: 24px;
}

.git-icon {
  font-size: 40px;
  cursor: pointer;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-aspect-ratio: 1/1) {
  .controls-bar {
    flex-wrap: wrap;
  }

  .stackable-controls {
    width: auto;
    flex-wrap: wrap;
  }

  .timer {
    font-size: 14px;
  }

  .legend-bar {
    flex-wrap: wrap;
    padding-top: 16px;
  }

  .git-icon {
    font-size: 0;
  }
}

.control-button {
  margin-right: 24px;
}

.boards {
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.bar-container {
  height: 18px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4px;
}

.bar {
  height: 18px;
  line-height: 18px;
  font-size: 18px;
  border-radius: 6px;
  margin: 0 8px 0 0;
  transition: all 0.5s ease;
}

.info {
  padding-bottom: 24px;
  height: calc((18px + 4px) * 4 + 24px);
}